<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CoreBankingLogic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CoreBankingLogic.Properties.Settings>
            <setting name="CoreBankingLogic_Utilities_PegPay" serializeAs="String">
                <value>https://192.168.0.13:8019/TestLevelOneApi/PegPay.asmx</value>
            </setting>
            <setting name="CoreBankingLogic_Telecoms_PegPayTelecomsApi" serializeAs="String">
                <value>https://localhost:8002/LivePegPayTelecomsApi/PegPayTelecomsApi.asmx</value>
            </setting>
            <setting name="CoreBankingLogic_SharedCommonsAPI_SharedCommonsAPI"
                serializeAs="String">
                <value>http://192.168.34.13:8020/SharedCommonsAPI/Service.asmx</value>
            </setting>
        </CoreBankingLogic.Properties.Settings>
    </applicationSettings>
</configuration>