<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SchoolOSApiLogic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SchoolOSApiLogic.Properties.Settings>
            <setting name="SchoolOSApiLogic_SharedCommonsAPI_SharedCommonsAPI"
                serializeAs="String">
                <value>http://192.168.23.15:5099/LiveSharedCommonsAPI/Service.asmx</value>
            </setting>
        </SchoolOSApiLogic.Properties.Settings>
    </applicationSettings>
</configuration>