<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="KasoziTestPegPaySchools" connectionString="Data Source=JEDIMASTER-PC\KasoziDB;Initial Catalog=SchoolOS;user id=sa;password=T3rr1613" providerName="System.Data.SqlClient"/>
    <add name="ElijahTestPegPaySchools" connectionString="Data Source=JEDIMASTER-PC\KasoziDB;Initial Catalog=SchoolOS;user id=sa;password=T3rr1613" providerName="System.Data.SqlClient"/>
    <add name="TestPegPay" connectionString="Data Source=DBSERVER\PEGPAYDB;Initial Catalog=GenericPegPayApi;user id=sa;password=T3rr1613" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>